@page
@model SE1728_HE173252_A3.Pages.Post.IndexModel
@using SE1728_HE173252_A3.Utils

@{
    ViewData["Title"] = "Index";
}

<p class="mt-5">
    <a asp-page="Create" class="btn btn-outline-success">New Post</a>
    <a asp-page="MyPosts" class="btn btn-outline-primary">My Posts</a>
</p>

<nav aria-label="Page navigation example" class="mt-5">
    <ul class="pagination pagination-md justify-content-end">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item text-center" style="width: 85px">
                <a class="page-link" asp-page="/Post/Index" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
            </li>
        } else
        {
            <li class="page-item disabled text-center" style="width: 85px">
                <a class="page-link" href="#">Previous</a>
            </li>
        }
        <li class="page-item"><a class="page-link" href="#">@Model.PageNumber</a></li>

        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item text-center" style="width: 85px">
                <a class="page-link" asp-page="/Post/Index" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled text-center" style="width: 85px">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        
    </ul>
</nav>

@foreach (var item in Model.Post) {
    <div class="card mt-5">
        <div class="card-header" style="font-weight: bold; font-size: 24px">
            @Html.DisplayFor(modelItem => item.Author.Fullname) posted in the @Html.DisplayFor(modelItem => item.Category.CategoryName) category
        </div>
        <div class="card-body">
            <h3 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h3>
            <hr/>
            <p class="card-text">
                @Html.Raw(item.Content)
            </p>
        </div>
        <div class="card-footer text-muted">
            Posted on @CustomConverter.GetFormatedDateTime(item.CreatedDate)
            @if (item.UpdatedDate != item.CreatedDate)
            {
                <span style="font-style: italic; color: gray">(Edited on @CustomConverter.GetFormatedDateTime(item.UpdatedDate))</span>
            }
        </div>
    </div>
}